<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/dashboard.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <div class="header-container">
            <img src="../assets/logo.png" alt="logo">
            <div class="text">
                <span class="emp">EMPLOYEE</span>
                <span>PAYROLL</span>
            </div>
        </div>
    </header>
    <div class="main-content">
        <div class="header-content sub-main-content">
            <div class="emp-details-text">
                Employee Details
            </div>
            <div class="add-button">
                <div class="plus-icon">
                    <img src="" alt="Add user logo">
                </div>
                <div>Add User</div>
            </div>
        </div>
        <div class="table-main">
            <table id="display" class="table">
                <tr class="head">
                    <th>NAME</th>
                    <th>GENDER</th>
                    <th>DEPARTMENT</th>
                    <th>SALARY</th>
                    <th>START DATE</th>
                    <th>ACTIONS</th>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>