.header-container {
    display: flex;
    font: normal bold 22px/25px Montserrat;
    align-items: center;
    margin-left: 150px;
    padding: 10px;
    gap: 5px;
}

header {
    background-color: #ffffff;
}

.text {
    display: flex;
    flex-direction: column;
    color: #42515F;
}

.emp {
    color: #83d21bf1;
}

img {
    width: 45px;
    height: 45px;
    padding-left: 5px;
}